<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insurance.materialfilepicker">

    <application>

        <activity android:name=".ui.FilePickerActivity"
            android:theme="@style/MFP_BaseTheme">
        </activity>
    </application>


</manifest>